h1 {
	margin: 30px 0 0 0;
	text-align: center;
}

nav {
    width: 100%;
    height: 40px;
    background-color: #0099FF;
    margin: 100px 0 0 0;
    padding: 0;
}

nav ul {
    float: left;
    margin: 0px;
    padding: 0 0 0 0;
    width: 100%;
    list-style: none;
}

nav ul li {
	display: inline;
}

nav ul li a {
    float: left;
    padding: 10px 20px; 
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;    
    font-family: Tahoma;
    outline: none;
}

nav ul li a:hover {
    color: #000000;
}

form {
	margin: 50px auto 0 auto;
	width: 100%;
    font-family: Tahoma;
}

form label {
	margin-left: 20px;
	margin-right: 5px;
    font-size: 14px;
    font-family: Tahoma;
}

form div {
	margin-left: 40%;
}

form button {
	margin-top: 20px;
	margin-left: 46%;
}
